@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* min-height: 100vh; */
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
