@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply preload bg-gray-200 text-stone-950 dark:bg-stone-950 dark:text-stone-200;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
